.trip-form__contacts-wrap {
  order: 3;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @mixin container;

    background: none;

    padding-left: 8px;
    padding-right: 8px;

    margin-bottom: 56px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
  }
}

.trip-form__contacts {
  @media (max-width: $mobile-width) {
    @mixin reset-fieldset;
    @mixin container;
  }
}

.trip-form__contacts-list {
  @mixin reset-list;

  display: flex;
  flex-direction: column;

  padding: 34px 20px 23px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 29px;
    padding-bottom: 10px;
  }

}

.trip-form__contacts-item {
  margin-bottom: 19px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    margin-bottom: 0;
    width: 50%;
  }
}

.trip-form__contacts-item:last-child {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-left: 69px;
  }
}

.trip-form__contacts-label {
  display: block;
  margin-top: 4px;
  margin-left: 22px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: $contacts-red;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.trip-form__contacts-label-aux {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.trip-form__contacts-input-wrap {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    display: none;
    height: 60px;
    width: 60px;
    top: 2px;
    right: 2px;
    background-color: $lightGrey;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/icon-phone.svg");
    }
  }

  &--email {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

.trip-form__contacts-input {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 15px 20px 15px 20px;
  border: 2px solid $lightGrey;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  z-index: 1;
  background: none;

  &:hover {
    border: 2px solid $deepBlue;
  }

  &:focus,
  &:active {
    border: 2px solid $contacts-red;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 80px 15px 20px;
  }
}
