.trip-form__emotions-wrap {
  order: 5;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    @mixin container;

    order: 4;
    padding: 7px 8px 0 8px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-width: 100%;
  }
}

.trip-form__emotions {
  @media (max-width: $mobile-width) {
    @mixin reset-fieldset;
    @mixin container;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }

}

.trip-form__emotions-text {
  min-width: 280px;
  min-height: 202px;
  margin-top: 15px;
  margin-left: 20px;

  border-radius: 2px;
  border: 2px solid $lightGrey;

  resize: none;
  line-height: 30px;
  font-size: 18px;
  padding: 15px 18px;
  box-sizing: border-box;

  &:hover {
    border: 2px solid $deepBlue;
  }

  &:focus,
  &:active {
    border: 2px solid $contacts-red;
  }

  @media (min-width: $tablet-width) {
    min-width: 500px;
    min-height: 193px;
    margin-top: 32px;
    margin-bottom: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
    min-width: 820px;
    margin-top: 29px;
    margin-bottom: 28px;
  }
}
