.trip-form__person {
  @mixin reset-fieldset;
  @mixin container;

  order: 1;
  box-sizing: border-box;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 50%;
  }
}

.trip-form__person-list {
  @mixin reset-list;

  display: flex;
  flex-direction: column;

  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
    padding-right: 36px;
  }
}

.trip-form__person-item {
  margin-bottom: 19px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.trip-form__person-item:last-child {
  margin-bottom: 0;
}

.trip-form__person-label {
  display: block;
  margin-top: 4px;
  margin-left: 22px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: $contacts-red;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.trip-form__person-input {
  display: block;
  width: 100%;
  box-sizing: border-box;

  padding: 15px 5px 14px 21px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid $lightGrey;
  border-radius: 2px;

  &:hover {
    border: 2px solid $deepBlue;
  }

  &:focus,
  &:active {
    border: 2px solid $contacts-red;
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}
