.advantages {

  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.advantages__inner {
  background: $grey;
}

.advantages__slogan {
  @mixin container;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 1.175;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;

    font-size: 50px;
    line-height: 1.14;
  }
}

.advantages__attraction {
  display: block;

  width: 210px;
  margin: 0 auto 26px auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }

  &--top {
    @media (min-width: $tablet-width) {
      width: 600px;
      margin-bottom: 1px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      margin-bottom: 4px;
    }
  }

  &--bottom {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      width: 345px;
    }

    @media (min-width: $desktop-width) {
      width: 425px;
    }
  }
}

.advantages__list {
  @mixin reset-list;
  @mixin container;

  padding-top: 61px;
  padding-bottom: 308px;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 55px;
    padding-bottom: 42px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 0;
  }
}

.advantage {
  padding-top: 20px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-bottom: 12px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    padding-top: 355px;
    text-align: center;
    padding-right: 0;
  }
}

.advantage:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.advantage__header {
  margin: 0 0 11px 0;

  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height:32px;

    margin-bottom: 22px;
  }
}

.advantage__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
}
