.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;

  &--round {
    border: 3px solid $white;
    border-radius: 30px;
  }

  &--square {
    border: none ;
    padding-top: 23px;
    padding-bottom: 22px;
    background-color: $green;
    border-radius: 3px;

    text-transform: uppercase;
    color: $white;
  }
}
