body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
}

.visually-hidden {
  visibility: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.symbol-library {
  display: none;
}
