body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.visually-hidden {
  visibility: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  padding: 15px;
  text-decoration: none;


  &--round {
    border: 3px solid $white  ;
    border-radius: 25px;
  }
}
