.downloads {
  padding-top: 395px;
  padding-bottom: 32px;
  background-color: $downloads-bkg;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 109px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 121px;
  }
}

.downloads__inner {
  @mixin container;
}

.downloads__content {
  text-align: center;
  padding-top:28px;

  @media (min-width: $tablet-width) {
    width: 320px;
  }
}

.downloads__into {
  display: none;
  width: 300px;
  color: $white;

  @media (min-width: $tablet-width) {
    display: block;
    box-sizing: border-box;
    padding: 64px 40px 30px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 190px 22px 51px 40px;
  }
}

.downloads__into-text {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 1.2;
  }
}

.downloads__desc {
  color: $downloads-text-color;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
  }
}

.downloads__button {
  width: 280px;
  margin-bottom: 32px;
  box-sizing: border-box;
  color: $downloads-text-color;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 65px;
  }

}

.downloads__platforms {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }

}

.downloads__platform {
  font-size: 0;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;

  &::before {
    content: "";
    display: inline-block;
  }

  &--apple::before {
    width: 46px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
  }

  &--android::before {
    width: 42px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  }

  &--win::before {
    width: 44px;
    height: 42px;
    background-image: url("../img/logo-microsoft.svg");
  }
}
