.investigation {
  @mixin container;

  display: none;
  padding-top: 96px;
  padding-bottom: 30px;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;

    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 102px;
    padding-bottom: 114px;
  }
}

.investigation__inner {
  @media (min-width: $tablet-width) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 583px;
  }

}

.investigation__header {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;
  }
}

.investigation__header-part {
  display: block;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.investigation__text {
  margin-top: 11px;
  margin-bottom: 10px;
  padding-right: 16px;

  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 550px;
    margin-bottom: 31px;
  }
}

.investigation__more {
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  color: $contacts-red;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
