.main-nav {

  @media (min-width: $desktop-width) {
    width: 641px;
  }
}

.main-nav__list {
  @mixin reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 110px;
  }
}

.main-nav__item {
  border-top: 1px solid $menu-item-border-top;
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.main-nav__link {
  display: block;

  padding-top: 15px;
  padding-bottom: 16px;

  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.77;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;

    font-weight: normal;
    text-transform: none;
  }
}
