.main-nav {
  @media (min-width: $desktop-width) {
    width: 641px;
  }
}

.main-nav__list {
  @mixin reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 110px;
  }
}

.main-nav__item {
  border-top: 1px solid $menu-item-border-top;
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    border: none;
    padding: 30px 0;
  }
}

.main-nav__link {
  display: block;

  padding-top: 16px;
  padding-bottom: 15px;

  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.77;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0;

    font-weight: normal;
    text-transform: none;
  }
}

.main-nav__link--active .main-nav__link {
  @media (min-width: $desktop-width) {
    box-shadow: 0 2px 0 0 $white;
  }
}

.main-nav__link--active:hover .main-nav__link {
  @media (min-width: $desktop-width) {
    box-shadow: 0 2px 0 0 $contacts-red;
  }
}

.main-nav__link:hover {
  color: $contacts-red;
}

.main-nav__link[href]:active {
  @media (min-width: $desktop-width) {
    color: $white;
  }
  opacity: 0.3;
}
