@define-mixin container {
  width: 320px;
  margin: 0 auto;

  @media ( min-width: $tablet-width ) {
    width: 640px;
  }

  @media ( min-width: $desktop-width ) {
    width: 960px;
  }
}

@define-mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

