.page-content {

  &--index {
    @media (min-width: $desktop-width) {
      padding-bottom: 10px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding-bottom: 5px;
    }
  }

  &--photo {
    padding-bottom: 5px;

    @media (min-width: $desktop-width) {
      padding-bottom: 40px;
    }
  }
}
