.page-header {
  background: $downloads-bkg url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 257px;
  background-size: 700px 462px;

  @media (min-width: $tablet-width) {
    background: $downloads-bkg url(../img/bg-back-tablet@1x.jpg) no-repeat 50% 255px;
    background-size: 1200px 729px;
  }

  @media (min-width: $desktop-width) {
    background: $downloads-bkg url(../img/bg-back-desktop@1x.jpg) no-repeat 50% 0;
    background-size: 2560px 853px;
  }
}

.page-header.no-js .page-header__toggle-wrap{
  display: none;
}

.page-header.menu-closed {
  background-position: 50% 0;
}

.page-header.menu-closed .page-header__inner {

  background-color: $black-02;

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.page-header.menu-closed .page-header__panel {
  border: none;
}

.page-header.menu-closed .main-nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header.menu-closed .page-header__toggle {
  width: 50px;
  height: 24px;
}

.page-header.menu-closed .page-header__toggle-icon--burger {
  display: block;
}

.page-header.menu-closed .page-header__toggle-icon--cross {
  display: none;
}

.page-header__top {
  @media (min-width: $desktop-width) {
    background: rgba(0,0,0,.2);
  }
}

.page-header__inner {
  background-color: $deepBlue;

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    background: none;

    display: flex;
    justify-content: space-between;
  }
}

.page-header__panel {
  display: flex;
  justify-content: space-between;

  padding: 21px 20px 21px 20px;
  border-bottom: 1px solid $black;

  @media (min-width: $tablet-width) {

    padding-top: 27px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {

    padding: 27px 9px 10px;
    align-self: flex-start;
    border-bottom: none;
    margin: 0;
  }
}

.page-header__logo {
  width: 75px;
  height: 22px;

  fill: $white;

  &:hover {
    fill: $contacts-red;
  }

  &:active {
    fill: $white;
    opacity: .3;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
    height: 40px;
  }
}

.page-header__logo-icon {

  &--mobile {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-header__toggle-wrap {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0;
  align-self: flex-end;
  cursor: pointer;
  fill: $white;

  &:hover {
    fill: $contacts-red;
  }

  &:active {
    fill: $red-03;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle {
  width: 24px;
  height: 24px;
}

.page-header__toggle-icon {

  &--burger {
    display: none;
  }
}

.page-header__title {
  @mixin container;

  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: $white;


  &--form {
    padding-top: 29px;
    padding-bottom: 53px;

    @media (min-width: $tablet-width) {
      padding-top: 69px;
      padding-bottom: 79px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 62px;
      padding-bottom: 101px;
    }
  }

  &--photo {
    padding-top: 29px;
    padding-bottom: 82px;

    @media (min-width: $tablet-width) {
      padding-top: 69px;
      padding-bottom: 140px;
    }

    @media (min-width: $desktop-width) {
      padding: 62px 200px 101px 200px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 1.2;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background: $downloads-bkg  url(../img/bg-back-mobile@2x.jpg) no-repeat 50% 257px;
    background-size: 700px 462px;

    @media (min-width: $tablet-width) {
      background: $downloads-bkg url(../img/bg-back-tablet@2x.jpg) no-repeat 50% 255px;
      background-size: 1200px 729px;
    }

    @media (min-width: $desktop-width) {
      background: $downloads-bkg url(../img/bg-back-desktop@2x.jpg) no-repeat 50% 0;
      background-size: 2560px 853px;
    }
  }
}
