.page-footer {
  min-height: 280px;
  margin-top: 60px;
}

.page-footer__logo-wrap {
  margin-bottom: 45px;
  text-align: center;
}

.page-footer__socials-group {
  text-align: center;
  margin-bottom: 45px;
}

.page-footer__social {
  display: inline-block;
}

.page-footer__copyright {
  text-align: center;
}
