.page-header {

  @media (min-width: $desktop-width) {
    position: relative;
  }

  background-size: 700px 462px;
  background: $downloads-bkg url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 257px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: $downloads-bkg  url(../img/bg-back-mobile@2x.jpg) no-repeat;
  }

  @media (min-width: $tablet-width) {
    background-size: 1200px 729px;
    background: $downloads-bkg url(../img/bg-back-tablet@1x.jpg) no-repeat 50% 255px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $downloads-bkg url(../img/bg-back-tablet@2x.jpg) no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    background-size: 2560px 853px;
    background: $downloads-bkg url(../img/bg-back-desktop@1x.jpg) no-repeat 50% 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $downloads-bkg url(../img/bg-back-desktop@2x.jpg) no-repeat;
    }
  }
}

.page-header__inner {
  background-color: $deepBlue;

  @media (min-width: $desktop-width) {

    display: flex;
    justify-content: space-between;

    background: rgba(0,0,0,.2);
  }
}

.page-header__panel {
  display: flex;
  justify-content: space-between;

  padding: 21px 20px 25px 20px;
  border-bottom: 1px solid $black;

  @media (min-width: $tablet-width) {

    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    min-width: auto;
    padding: 27px 9px 10px;
    align-self: flex-start;
    border-bottom: none;
    margin: 0;
  }
}

.page-header__logo {
  fill: $white;

  &--mobile {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &:hover {
    fill: $contacts-red;
  }

  &:active {
    fill: $white;
    opacity: .3;
  }
}

.page-header__toggle-wrap {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0;
  align-self: flex-end;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle {
  fill: $white;

  &:hover {
    fill: $contacts-red;
  }

  &:active {
    fill: $red-03;
  }

  &--burger {
    display: none;
  }
}

.page-header__title {
  @mixin container;

  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 1.2;
  }

  &--form {
    padding-top: 29px;
    padding-bottom: 53px;

    @media (min-width: $tablet-width) {
      padding-top: 69px;
      padding-bottom: 79px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 62px;
      padding-bottom: 101px;
    }
  }

  &--photo {
    padding-top: 29px;
    padding-bottom: 82px;

    @media (min-width: $tablet-width) {
      padding-top: 69px;
      padding-bottom: 140px;
    }

    @media (min-width: $desktop-width) {
      padding: 62px 200px 101px 200px;
    }
  }
}
