.post-wall {
  @mixin container;
}

.post-wall__header {
  margin: 0;

  padding-top: 45px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 49px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 74px;

    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 770px;
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 88px;
  }
}
