.reviews {
  @mixin container;

  position: relative;
  padding-top: 0;
  padding-bottom: 36px;



  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/icon-quotes.svg") no-repeat 50% 5px;

    padding-top: 119px;
    padding-bottom: 15px;
  }
}

.reviews__slider {
  position: relative;
  padding-bottom: 27px;
  min-height: 228px;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
    min-height: 181px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
    min-height: 183px;
  }
}

.reviews__slide {
  position: absolute;
  display: none;

  flex-direction: column;
  padding: 0 21px;
  text-align: center;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.reviews__author-name {
  margin: 6px 0 13px 0;

  font-size: 18px;
  line-height: 1.66;
  font-weight: bold;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    font-size: 20px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 1px;
    font-size: 24px;
  }
}

.reviews__author-aux {
  display: none;
  margin: 0;
  order: 2;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  order: 3;

  font-size: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.reviews__text-part {
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.reviews__text-part--quote {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__bullets {
  padding: 9px 0;
  text-align: center;
  font-size: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__bullet {
  padding: 0;
  border: none;
  background: none;
  font-size: 0;
  box-sizing: border-box;
  margin-right: 20px;

  &:hover::before {
    background: $deep-blue-06;
  }

  &:active::before {
    background: $deep-blue-01;
  }
}

.reviews__bullet::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: $deep-blue-03;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__bullet:last-child {
  margin-right: 0;
}

.reviews__bullet--active::before {
  background: none;
  box-shadow: 0 0 0 3px $black;
  cursor: auto;
}

.reviews__bullet--active:hover::before {
  background: none;
}

.reviews__nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__arrow {
  position: absolute;
  padding: 0;
  display: block;
  border: none;
  top: 151px;
  width: 22px;
  height: 42px;
  background: none;
  font-size: 0;
  cursor: pointer;
  z-index: 3;

  fill: $deep-blue-01;

  &:hover {
    fill: $deep-blue-06;
  }

  &:active {
    fill: $deep-blue-03;
  }
}

.reviews__arrow--prev {
  left: 17px;
}

.reviews__arrow--next {
  right: 17px;
}
