.reviews {
  @mixin container;

  padding-top: 0;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 119px;
    padding-bottom: 25px;
  }
}

.reviews__slider {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
  }
}

.reviews__slide {
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin: 0 auto;
  }
}

.reviews__author-name {
  margin: 6px 0 13px 0;

  font-size: 18px;
  line-height: 1.66;
  font-weight: bold;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    font-size: 20px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 1px;
    font-size: 24px;
  }
}

.reviews__author-aux {
  display: none;
  margin: 0;
  order: 2;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  order: 3;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    font-size: 18px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.reviews__bullets {
  padding: 9px 0;
  text-align: center;
  font-size: 0;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__bullet {
  padding: 0;
  border: none;
  background: none;
  font-size: 0;
  box-sizing: border-box;
}

.reviews__bullet::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #bac1c7;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.reviews__bullet:last-child::before {
  margin-right: 0px;
}

.reviews__bullet--active::before {
  background: none;
  box-shadow: 0 0 0 3px $black;
  cursor: auto;
}

.reviews__nav {
  display: none;
}
