$deepBlue: #283645;
$white: #fff;

$menu-item-border-top: #485461;
$menu-item-border-bottom: #000001;

$downloads-color: #1d2631;
$downloads-text-color: #fff;

$adnvantages-slogan: #1d2631;
$advantages-background: #f2f2f2;

$tariffs-table-head: #283645;
$tariffs-controls-bkg: #f2f2f2;

$contacts-title: #283645;
$contacts-red: #d22856;
